#login.full-height.flex-centered

    .col-xs-12.col-sm-6.col-md-4

        .panel
            .panel-heading.text-center

                .icon ICONE

                .panel-title {{constantes.NOME_SISTEMA}}


            form.panel-body(ng-submit="ctrl.logar()")

                .row

                    .form-group.col-xs-12
                        label Usuário
                        input.form-control(type="text", ng-model="ctrl.form.login", ng-required="true", autofocus="" )

                    .form-group.col-xs-12
                        label Senha
                        input.form-control(type="password", ng-model="ctrl.form.senha", ng-required="true", autofocus="")

                .row.form-buttons

                    .col-xs-6.text-center
                        button.btn.btn-o.btn-primary.btn-block(type="submit") Entrar

                    .col-xs-6.text-center
                        button.btn.btn-transparent Esqueci a senha


