.container

    .row

        .col-sm-4

            form.panel.panel-default(ng-submit="ctrl.filter()" sticky="" offset="80")

                .panel-heading

                    h3.panel-title Filter

                .panel-body

                    .row

                        .col-xs-12

                            .form-group

                                label Select a Lookup Service:

                                select.form-control(ng-model="ctrl.selectedLookup" ng-options="lookup as lookup.name for lookup in ctrl.lookups")

                    .row(ng-show="ctrl.selectedLookup")

                        div(ng-repeat="field in ctrl.selectedLookup.fields track by $index" class="{{field.grid || 'col-xs-12'}}")

                            .form-group

                                label.control-label {{field.label}}

                                input.form-control(ng-model="field.value" ng-required="{{field.required || false}}")



                    .row(ng-show="ctrl.selectedLookup")

                        .col-xs-6

                            .form-group

                                label.control-label Distance
                                input.form-control(ng-model="ctrl.params.distance")

                        .col-xs-6

                            .form-group

                                label.control-label Lines
                                input.form-control(ng-model="ctrl.params.lines")

                .panel-footer(ng-show="ctrl.selectedLookup")

                    button.btn.btn-success(type="submit") Submit


        .col-sm-8

            .alert.alert-info.text-center(ng-show="!ctrl.addresses && !ctrl.selectedLookup")

                | Please, fill in the required fields.

            .alert.alert-warning.text-center(ng-show="ctrl.addresses.length == 0")

                | Sorry, we haven`t found any results, please try again with another fields.

            .cards

                .section-title Showing Results for page
                    b  {{ctrl.params.page+1}}

                .card.card-transparent.paddingless

                    .form-group.form-group-inverse

                        .input-group

                            .input-group-addon

                                i.fa.fa-search

                            input.form-control(ng-model="instantFilter" placeholder="Search in results ...")

                .card.card-default(ng-repeat="address in ctrl.addresses | filter:instantFilter track by $index")

                    label.card-counter {{$index+1}}

                    dl.dl-horizontal
                        .text-left(ng-repeat="(key, value) in address")
                            dt {{key}}:
                            dd  {{value}}

                .card.card-transparent.paddingless

                    div(ng-include="'pagination.html'")


script(type="text/ng-template" id="pagination.html")

    nav(aria-label="..." ng-show="ctrl.pagination || ctrl.params.page > 0")

        ul.pager

            li.previous
                button.btn.btn-default(type="button" ng-click="ctrl.previousPage()" ng-disabled="ctrl.params.page == 0")
                    span(aria-hidden="true") &larr;
                    span Previous

            li
                span Total Results:
                    b  {{ctrl.pagination.totalresults}}

            li.next
                button.btn.btn-default(type="button" ng-click="ctrl.nextPage()" ng-disabled="!ctrl.pagination.morevalues")
                    span Next
                    span(aria-hidden="true") &rarr;








