doctype html
html(ng-app="app")
    head

        meta(charset='utf-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='msapplication-tap-highlight', content='no')
        meta(name='viewport', content='user-scalable=no, initial-scale=1, width=device-width')

        title {{constants.APP_NAME}}

        link(rel='stylesheet', href='css/postcoder.vendor.min.css')
        link(rel='stylesheet', href='css/postcoder.assets.min.css')

        script(src='js/postcoder.vendor.min.js', defer='')
        script(src='js/postcoder.assets.min.js', defer='')

    body(ng-cloak="")

        nav#header.navbar.navbar-fixed-top

            .container-fluid

                .row.flex-row.flex-centered

                    .col-sm-3

                        .navbar-brand PostCoder-Search

                    .col-sm-6.flex-row.flex-centered

                        ul.menu.nav.navbar-nav.text-center

                            li
                                a(href="javascript:void(0)" ui-sref="ie.address")
                                    span.caption IE
                                    span Address

                            li
                                a(href="javascript:void(0)" )
                                    span.caption IE
                                    span Address GEO


                            li
                                a(href="javascript:void(0)" )
                                    span.caption IE
                                    span Position

                            li
                                a(href="javascript:void(0)" )
                                    span.caption IE
                                    span Reverse GEO

                            li
                                a(href="javascript:void(0)" )
                                    span.caption UK
                                    span Address

                    .col-sm-3.flex-right.flex-row

                        ul.nav.navbar-nav

                            li
                                a(href="javascript:void(0)" ui-sref="configuration")
                                    i.fa.fa-cog.fa-fw
                                    span Configuration


        div#page-wrapper(ui-view="")