/****************************
    Front layout Colors
 *****************************/

$bgBody: #F4F8F9;
$fgBody: #333;
$bgHeader: #57AED8;
$fgHeader: #FFF;

/* States */
$bgSuccess: #A9CF55;
$bgSuccessHover: #96bb51;