@import "base/mixins", "colors";

.cards {

  .card {

    margin-bottom: 10px;
    padding: 10px 20px;
    @include border-radius(5px);

    .card-counter {

      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 15px;
      background: darken($bgBody, 5%);
      color: darken($bgBody, 50%);
      text-align: center;
      @include border-radius(50%)

    }
  }

  .card-well {

    background: #EEEEEE;
    color: #6C7A89;

  }

  .card-default {

    background: #FFF;
    color: #6C7A89;
    @include box-shadow(0 1.5px 3px #BDC3C7);

  }

  .card-transparent {

    background: none !important;
    border: none !important;

  }

}
