@import "base/mixins", "colors";

.ajax-loading {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  background: $bgBody;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate3d(-50%, -50%, 0);
  }
}