@import "base/mixins", "colors";

.panel.panel-transparent {
  background: none;
  @include box-shadow(none);
}

$bgBorderPanelFilter: #e2e6e9;

.panel.panel-filter {

  overflow: hidden;
  border: 1px solid $bgBorderPanelFilter;

  .panel-heading {
    background: #EEF2F5;

    .panel-title {
      color: #a1a4a6;
      font-size: 15px;
      padding: 10px 0;
    }
  }

  .panel-body {
    padding: 0;

    .row:not(:first-of-type) {
      border-top: 1px solid $bgBorderPanelFilter;

      &.ng-hide {
        border-top: none;
      }

      div[class*="col-xs"]:not(:last-child) {
        border-right: 1px solid $bgBorderPanelFilter;
      }
    }

    .form-group {

      margin-bottom: 0;
      padding-bottom: 10px;

      > label, .control-label {
        color: #959ea4;
        font-weight: 300;
        font-size: 13px;
        padding: 10px 15px;
        display: block;
        margin: 0;
      }

      .form-control {
        padding: 10px 15px;
        border: none;
        height: 35px;
        font-size: 16px;
        color: #5a6876;
      }

      select.form-control {
        margin-left: 10px;
        width: calc(100% - 15px);
      }
    }

  }

  .panel-footer {
    padding: 0;
    border: none;
    @include display-flex;
    @include flex-direction(column);
    @include align-items();
    @include align-content();

    .btn {
      border: none;
      border-radius: 0;
      padding: 15px 15px;
      text-transform: uppercase;
    }
  }
}