header.navbar.navbar-fixed-top

    .container-fluid

        .navbar-header

            a.logo.navbar-brand()
                | {{constantes.SIGLA_SISTEMA}}

.container.full-height()

    section.full-height.flex-centered(ng-keypress="ctrl.selecionarPorAtalho($event)" tabindex="0" autofocus="true")

        h5.section-title Selecione um Cliente para trabalhar

        .panel.col-sm-8.col-md-6

            ul.list-group

                li.list-group-item(ng-repeat="cliente in ctrl.clientes track by $index")

                    a.media.hover-reference(href="javascript:void(0)" ng-click="ctrl.selecionar(cliente)" )

                        .media-left.media-middle
                            h4 #
                                | {{$index+1}}

                        .media-left.media-middle
                            .img-thumbnail.img-rounded.img-cell-fixed-96
                                img.media-object.img-responsive(ng-src="{{'data:image/jpg;base64,'+cliente.logoBase64}}")

                        .media-body.media-middle.text-center

                            h4.media-heading {{cliente.nome}}
                            span {{cliente.descricao}}

                        .media-right.hover-appear.media-middle

                            button.btn.btn-primary Selecionar
