.page-header

    .container-fluid

        .row

            .col-xs-6

                label.title Listagem Registros Produtos

            .col-xs-6.text-right.controls

                button.btn.btn-primary
                    i.fa.fa-random
                    span Trabalhar

.container-fluid

    .row

        .col-sm-4

            .panel.panel-folder

                .panel-heading

                    .panel-title Registros Alocados para mim

                .panel-body

                    table.table

                        thead
                            th Identificador
                            th Data
                            th Fase
                            th Opções

                        tbody

                            tr(ng-repeat="registro in ctrl.registrosProdutosAlocados track by $index")
                                td
                                    span {{registro.identificador}}
                                td {{registro.faseAtual.dataInicio | dataHora}}
                                td {{registro.faseAtual.descricao}}
                                td.buttons

                                    button.btn.btn-primary.btn-sm(type="button" title="Trabalhar no Documento" ng-click="ctrl.trabalhar(registro)")
                                        i.fa.fa-folder-open-o
                                        span Abrir

                                    button.btn.btn-warning.btn-sm(type="button" title="Devolver Registro" ng-click="ctrl.trabalhar(registro)")
                                        i.fa.fa-recycle
                                        span Devolver


        .col-sm-4

            .panel.panel-folder

                .panel-heading

                    .panel-title Registros Disponíveis

                .panel-body

                    table.table

                        thead
                            th Identificador
                            th Data
                            th Fase
                            th Opções

                        tbody

                            tr(ng-repeat="registro in ctrl.registrosProdutosDisponiveis track by $index")
                                td
                                    span {{registro.identificador}}
                                td {{registro.faseAtual.dataInicio | dataHora}}
                                td {{registro.faseAtual.descricao}}
                                td
                                    button.btn.btn-default.btn-sm(type="button" title="Trabalhar no Documento" ng-click="ctrl.trabalhar(registro)")
                                        i.fa.fa-check
                                        span Trabalhar


        .col-sm-4

            .col-xs-6(ng-repeat="widget in ctrl.widgets track by $index")

                .widget(class="widget-{{widget.color}}")

                    .widget-header

                        .title {{widget.title}}

                        .subtitle {{widget.subtitle}}

                    .widget-body.row

                        .counter.col-xs-8 {{widget.counter}}

                        .col-xs-4
                            .icon
                                i(ng-class="widget.icon")

